@model StudentEnrollment.Models.Student

<p style="border-style: solid">
    Student of The Month:
    <b>
        @Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.LastName)
    </b>

</p>
